@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";


.booked {
  background-color: #e5e7eb;
  color: #9ca3af;          
  cursor: not-allowed;
  pointer-events: none;
}

.modal-open .leaflet-control-container {
  display: none !important;
}

